@import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');

*{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

body{
        background-color: #f9f9f9;
        font-family: 'Lato', sans-serif;
}

.navbar{
        background-color: white;
        box-shadow: 0px 0px 3px 0.2px #cccccc91;
        display: flex;
        justify-content: space-between;
        padding:  35px;
        align-items: center;
        box-shadow: 2px 2px 10px gray;
}

/*Aqui ira la clase active de los Navlinks del navbar*/
.active{
        border: solid 2px gray;
}

.logo__header{
        text-decoration: none;
}

ul{
        list-style: none;
        display: flex;
        width: 350px;
        font-size: 20px;
        justify-content: space-between;
}

ul a{
        margin-left: 15px;
        text-decoration: none;
}

.carrito_de_compras{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
}

main{
        height: 75vh;
        width: 100%;
}

main .main__contador{
        position: relative;
        top: 15px;
        left: 15px;
}

.footer{
         background-color: #181818;
        box-shadow: 0px 0px 3px 0.2px #cccccc91;
        display: flex;
        justify-content: space-between;
        padding:  15px ;
        align-items: center;
        color: white;
}      


button{
        padding: 5px 10px;
        border-style:double;
        background-color: #D3D3D3 ;
}

button:hover{
        background-color: white;
}

/*Aqui estaran los estilo del contador */

.contenedor_contador{
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E9E9E9;
        width: 150px;
        height: 110px;
        padding: 15px;
}

.contenedor_contador .contenedor__caja__padre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.contenedor_contador .contenedor_contador_caja{
        display: flex;
        width: 90%;
        justify-content: space-between;
}

.contenedor_contador .contenedor_contador_caja .cantidad{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.contenedor_contador .contenedor__boton__reiniciar{
        width: 150px;
        display: flex;
        justify-content: center;
}

.contenedor_contador div .boton__reiniciar{
        width: 135px;
}

.contenedor__caja__padre .contenedor__boton__agregar .boton__agregar{
        width: 135px;
}
/*Fin de estilos del contador */

/*Inicio estilos de las tarjetas*/

.contenedor__tarjetas{
        width: 98%;
        height: 70vh;
        display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

}

.tarjetas{
        width: 250px;
        height: 300px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: black;
        border-radius: 8px;
        text-align: center;
        background-color: #e8e8e8;
        
}
.tarjetas:hover{
      
        box-shadow: 2px 2px 8px gray;
}

.tarjetas img{
        border-radius: 8px;
        width: 205px;
        box-shadow: 0px 3.8px gray;
}

.descuento {
        background-color: gray;
        border-radius: 2px;
        color: black;
        width: 150px;
}
.tarjetas .precio{
        text-decoration: line-through;
        
}

.tarjetas a{
        text-decoration: none;
        background-color: gray;
        color: white;
        padding: 2px 80px;
        border-radius: 5px;
        
}

/*Inicio estilos de la tarjeta, cuando se muestran los productos*/

/*Inicio estilos detail*/

.contenedor__detail__tarjetas{
        background-color: rgb(198, 197, 197);
        width: 98%;
        height: 70vh;
        display: flex;
}

.contenedor__detail__tarjetas img{
        width: 450px;
        height: 430px;
        margin-left: 20px ;
        margin-top: 20px;
}

.contenedor__detail__tarjetas__informacion{
        width: 870px;
        height: 430px;
        margin-left: 20px;
        margin-top: 20px;
}

.contenedor__detail__tarjetas__informacion .contenedor_contador{
        box-shadow: 2px 2px 6px gray;
        margin-top: 15px;
}

.contenedor__detail__tarjetas__informacion .contenedor__detail__tarjetas__precio{
        display: flex;
        justify-content: center;
        padding-left: 5px;
        margin-top: 5px;
        width: 150px;
        background-color: gray;
}