@import url('https://fonts.googleapis.com/css2? family= Lato & display=swap');

*{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

body{
        background-color: #f9f9f9;
        font-family: 'Lato', sans-serif;
}

.navbar{
        background-color: white;
        box-shadow: 0px 0px 3px 0.2px #cccccc91;
        display: flex;
        justify-content: space-between;
        padding:  35px;
        align-items: center;
        box-shadow: 2px 2px 10px gray;
        width: 100%;
}

/*Aqui ira la clase active de los Navlinks del navbar*/
.active{
        border: solid 2px gray;
}

.logo__header{
        text-decoration: none;
        color: black;
}

ul{
        list-style: none;
        display: flex;
        width: 350px;
        font-size: 20px;
        justify-content: space-between;
}

ul a{
        margin-left: 15px;
        text-decoration: none;
        color: black;
}

.carrito_de_compras{
        display: flex;
        justify-content: center;
        align-items: center;
        
}

.carrito_de_compras .material-symbols-outlined{
        color: black;
        margin-right: 5px;

}
main{
        height: 75vh;
        width: 100%;
}

main .main__contador{
        position: relative;
        top: 15px;
        left: 15px;
}
.footer{
        background-color: black;
        color: white;
        height: 68px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

.footer ul{
        margin-right: 15px;
}




button{
        padding: 5px 10px;
        border-style:double;
        background-color: #D3D3D3 ;
        border: solid 1px rgb(177, 177, 177);
}

button:hover{
        background-color: white;
}

/*Aqui estaran los estilo del contador */

.contenedor_contador{
        
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E9E9E9;
        width: 150px;
        height: 135px;
        padding: 15px;
}

.contenedor_contador .contenedor__caja__padre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.contenedor_contador .contenedor_contador_caja{
        display: flex;
        width: 90%;
        justify-content: space-between;
}

.contenedor_contador .contenedor_contador_caja .cantidad{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.contenedor_contador .contenedor__boton__reiniciar{
        width: 150px;
        display: flex;
        justify-content: center;
}

.contenedor_contador div .boton__reiniciar{
        width: 135px;
}

.contenedor__caja__padre .contenedor__boton__agregar .boton__agregar{
        width: 135px;
}


.boton__ir__carrito{
        text-decoration: none;
        color: black;
        background-color: #D3D3D3;
        padding: 3px 28.7px;
        border: solid 1px rgb(177, 177, 177) ;
}

.boton__ir__carrito:hover{
        background-color: white;
}
/*Fin de estilos del contador */

/*Inicio estilos de las tarjetas*/

.contenedor__tarjetas{
        width: 98%;
        height: 70vh;
        display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

}

.tarjetas{
        width: 250px;
        height: 300px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: black;
        border-radius: 8px;
        text-align: center;
        background-color: #e8e8e8;
        
}
.tarjetas:hover{
      
        box-shadow: 2px 2px 8px gray;
}

.tarjetas img{
        border-radius: 8px;
        width: 205px;
        box-shadow: 0px 3.8px gray;
}

.descuento {
        background-color: gray;
        border-radius: 2px;
        color: black;
        width: 150px;
}
.tarjetas .precio{
        text-decoration: line-through;
        
}

.tarjetas a{
        text-decoration: none;
        background-color: gray;
        color: white;
        padding: 2px 80px;
        border-radius: 5px;
        
}

/*Inicio estilos de la tarjeta, cuando se muestran los productos*/

/*Inicio estilos detail*/

.contenedor__detail__tarjetas{
        background-color: rgb(198, 197, 197);
        width: 98%;
        height: 70vh;
        display: flex;
}

.contenedor__detail__tarjetas img{
        width: 450px;
        height: 480px;
        margin-left: 20px ;
        margin-top: 20px;
}

.contenedor__detail__tarjetas__informacion{
        width: 1000px;
        height: 430px;
        margin-left: 20px;
        margin-top: 20px;
}

.contenedor__detail__tarjetas__informacion .contenedor_contador{
        box-shadow: 2px 2px 6px gray;
        margin-top: 15px;
}

.contenedor__detail__tarjetas__informacion .contenedor__detail__tarjetas__precio{
        display: flex;
        justify-content: center;
        padding-left: 5px;
        margin-top: 5px;
        width: 150px;
        background-color: gray;
}

/*Inicio estilos formulario */

.contenedor__formulario{
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.formulario{
        display: flex;
        flex-direction: column;
        border: solid 2px gray;
        padding: 10px;
}

.formulario .apellido{
        margin-top: 10px;
}

.formulario button{
        margin-top: 10px;
}
/*Fin estilos del formulario*/


/*Inicio estilos de la animacion de carga*/

.contenedor__carga{
        width: 99%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
/*Fin estilos de la animacion de carga*/


.contenedor__carrito img{
        width: 200px;
        height: 150px;
}
/*Inicio estilos del carrito*/

.contenedor__carrito__mayor{
        width: 98%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.contenedor__carrito .contenedor__carrito__imagen{
        display: flex;
        justify-content: center;
        align-items: center;

}

.contenedor__carrito{
        background-color: #e8e8e8;
        width: 250px;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
}

.contenedor__carrito__botones{        display: flex;
        justify-content: space-between;
}

/*Fin de los estilos del carrito*/

/*Inicio estilos del contador del navbar*/

.carrito_de_compras .contador__total__unidades{
        font-size: 20px;
        color: black;
        text-decoration: none;
}

.carrito__enlace{
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

/*Fin estilos del contador del navbar*/